<!DOCTYPE html>
<html>
  <head>
   <% include partials/head %>
	  	<link rel="stylesheet" href="stylesheets/updated.css">
       <link rel="stylesheet" href="stylesheets/responsive.css">
         <link rel="stylesheet" href="stylesheets/responsive2560.css"  media="screen and (width:2560px) and (height:1600px)">
  </head>
  <body>
  <% include partials/header %>  
      
      
	   <div class="wrapper" >
	  <div class="main">
    <section id="section1">
        


     <div class="container-fluid faqs text-center">
      
            <br>
                  <h2 class="">FAQs</h2>
         <h5 class="FAQHeader">We all have questions.And to me that is a signof curosity.So fire away...</h5>
         <br>
             <div class="topNav wxt FAQ">
        
                  
              <a  class="act btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Our Process</a> 
          
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
            <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Investements</a>
           
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
             <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Products</a> 
             
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
          <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Billing & Fees</a>
           
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            
             <a class="btn btn-lg moodNav storyBtn buttonFaq" data-toggle="pill" href="#FAQue">Definitions</a> 
           
</div>
         
    <br>     
      <br> 
         
        
         <div class="container sliderFaqs">
             <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">1</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
</div>

             <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">2</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">3</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
     
             <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">4</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">5</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

             <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">6</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
             
                          <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">7</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

                                       <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">8</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>

                                                    <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">9</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
           
                                                    <button class="accordion">
                 <div class="col-sm-1 btn btn-default btn-circle">10</div>
                 <div class="col-sm-11">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incidid.</div>
                
             </button>
<div class="panel">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
</div>
     
         </div>  
        </div> 
        <br>
        <br>
               <br>
        <div class="faqFooter">
         <% include partials/footer %>  
            </div>

  </section>
  
   
    </div>   
        </div>  
      
      
      
<!--Custom Js links -->  
        
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
         <script src="javascripts/main.js"></script>
    <script src="javascripts/control.js" type="text/javascript"></script>
       
   

</body>
</html>
