<!DOCTYPE html>
<html lang="en">
<head>

 <% include partials/head %>
    
	<link rel="stylesheet" href="stylesheets/updated.css">
    <link rel="stylesheet" href="stylesheets/responsive.css">
       <link rel="stylesheet" href="stylesheets/responsive2560.css"  media="screen and (width:2560px) and (height:1600px)">
</head>
<body>

  <% include partials/header %>  
    
 <div class="wrapper" style="overflow-x:hidden;overflow-y:scroll;">
	  <div class="main">
          
<!--    <section id="section1"  class="mod-singular-section" >-->
      
     <div class="container-fluid know-us  text-center mod-singular-section" >
        
      
       

          <h2  class="NameAndLogo">Name and Logo</h2>
    
          <div class="container content">
         <div class="row rowclass">
            
          
            
           
            
        </div><!--row rowclass-->
         </div><!--end of container content-->
  
         
          
       
         <div class="dotHr NaLDots" style="  ">

                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
               <div id="knowUsDots1366"></div>
                <div id="knowUsDots1366"></div>
         <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
         
                <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
         <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div><div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1400"></div>
                  <div id="knowUsDots1400"></div>
                 <div id="knowUsDots1400"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
          <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div></div><div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                              <div></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                    <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          
                  <div></div>
                  <div></div>
         
         
               <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          
       
    
              
                  <div></div>
                  <div></div>
                  <div></div>
                  <div ></div>
                  <div></div>
          <div></div>
                  <div></div>
         
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                  <div ></div>
                  <div ></div>
             <div></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
             <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
             <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
                  <div id="nameAndLogoDots1280" ></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
             
              <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
              <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  
                  
             
                  <div ></div>
                  <div ></div>
                 <div ></div>
                  <div></div>
                   <div ></div>
                  <div ></div>
              <div > </div>
                  <div></div>
                 
                  
      
  
  </div>
         
         
         
         
         <!--line below name and logo ends-->
         <br>
                  <div class="KUNLogo" >
                      
                      <div class="container content NLContainer">
                      
                          <div class="row ">
                          
                              <div class="col-sm-3"></div>
                              
                              <div class="col-sm-6">
             
                                  <p class="KUNLogoP">
                                      Our name is inspired by two words- invest and story.<br>
                                      Here we help you write your financial story with honest investement advice.
                                      Our brand mascot is "Tory" the frog.
                                    </p>
                                  
                              </div>
                              
                              <div class="col-sm-3"></div>
                            
                          </div>
                      
                      </div>
            </div>
         
              <div class="dotHr  NaLDots" style="">
         

                  <div ></div>
                  <div ></div>
                   <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
             <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
             <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
                  <div id="nameAndLogoDots1280" ></div>
                 <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
              <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                  <div ></div>
         
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                 <div></div>
                 <div></div>
                <div></div>
               <div></div>
                <div></div>
                 <div></div>
                <div></div>
             <div></div>
                           <div></div>
                <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                 <div></div>
                 <div></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                                    <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                  <div  id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
          
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
         
         
               <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
          
       
    
              
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
          <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
         
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                 <div></div>
                  <div></div>
                   <div></div>
                  <div></div>
              <div></div>
                  <div></div>
                 
                  
      
  
  </div><br>
         
         
         <br>
         
         
          <div class="whyAFrogContainer">
                <h2 class="WFrogHead"style=" padding-top: 0em;" class="">Why a frog?</h2><img class="WFrogImg"src="images/frggie1.png" width="100" height="100">
                <div class="dotHr NaLDots" style=" ">
                        <div></div>
                        <div ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots" ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  id="knowUsDots1366" ></div>
                        <div  ></div>
                        <div></div>
                        <div id="knowUsDots1366"></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div id="knowUsDots1366"></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                </div>
          </div>
          
           
         <!-- line below WHy a frog End-->
         
         <br>
         
        <div class="container content"><!--start of why frog para-->
        <div class="row KuWfRow ">
        <div class="col-sm-3 KuWfC"></div>
             
        <div class="col-sm-3 KuWfC1" >
        <p class="KuWfC1Pad">
        Frogs have been a symbol of prosperity,<br>
             wealth, friendship and abundance in 
              many cultures. For the Romans, the frog
       was a mascot believed to bring good luck 
               to one's home. In many Asian cultures,
               the frog or toad symbolize the moon and 
             can facilitate healing and attract
                 prosperity. The money toad or fortune
              frog is through to have been the personal 
          pet of the Chinese god of wealth.
           
        </p>
             
             </div><!--end of collum1-->
              
              
             <div class="col-sm-3 KuWfC2"  stle="">
                 <p class="KuWfC2Pad" >
           As a power animal, the frog serves to 
               remind a person of the ever changing
               nature of his life and the support that can 
                 be found during times of change.<br>
                 
                Because the frog has the ability to go
                from water to earth, it is believed that as
         a power animal the frog contains the
               magic and properties of both elements.<br><br>
               So lets get to know Tory better, shall we?
                  
                 </p>
            </div><!--end of collum2-->
             
         <div class="col-sm-3"></div>
           
            
        </div><!--row rowclass-->
         </div><!--end of container content-End of why frog para-->
    <br>
   
   <div class="dotHr longDotUs" style=""><!-- Get Started-->
        <div  id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                           <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
       <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                           <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
       <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
          <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                           <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div   id="nameAndLogoDots"></div>
                  <div   id="nameAndLogoDots"></div>
                  <div   id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots" ></div>
          <div></div>
                  <div></div>
                           <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                     <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
         
               
       
      <button type="" data-toggle="modal" data-target="#signUp" class="btn btn-lg moodNav pull-left getStarted" style="    width: 8em;" > Get Started</button>
              
                      <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
          <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                              <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
       <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
       <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
         
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
       <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
         
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
           <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                           <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div></div>
       <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
          <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                           <div id="ColumnsOfKnowUs"></div>
                  </div><!-- Get Started End-->
    </div>      
<!--       </section>section1   -->
 
  <br>
<!--  <section id="section2"  class="mod-singular-section" >-->
 <div class="container-fluid know-us  text-center mod-singular-section" style="margin-top: 0.5em">
        <div class="whyInvtContainer">
                <img class="WInvstImg"src="images/froggie 2.png"  style="">
                <h2 style="" class="WSHeader">Why choose Investory</h2>
                <div class="dotHr NaLDots" style=""><!--below why investort-->
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div></div>
                        <div id="whyInvestory1366"></div>
                        <div id="whyInvestory1366"></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div id="nameAndLogoDots1280" ></div>
                        <div></div>
                        <div></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div id="nameAndLogoDots"></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div ></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div  id="nameAndLogoDots"></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                        <div id="knowUsDots1366"></div>
                </div><!-- line below WHy Invest Story End-->
        </div>
     <br>
        <div class="container content"><!--start of why Invest Story-->
            
         <div class="row KuWfRow "><!--Investstory row-->
             
             <div class="col-sm-3 KuWfC"></div>
             
             <div class="col-sm-3 KuWfC1" >
                 
                 <p class="KuWfC1Pad" >
                        Investory wants to make financial
                        planning and investment transparent, 
                        easy and fun. And we want to do this
                        without charging you any commission on 
                        the funds we recommend; without billing
                        you a percentage of the money you 
                        invest with us each year and without
                        using jargon.
                </p>
             
             </div><!--end of collum1-->
              
              
             <div class="col-sm-3 KuWfC2"  stle="">
                 
                 <p  class="KuWfC2Pad" >
               All our advisors are highly qualified and 
               keep your long term interest in mind. This
               is done by making your goals the center
                of our world. However you wish to live 
                your life, we help you plan for it! 
                We don't judge or preach.
                Just assist and advise like a trusted friend
                     or expert.
                     </p>
            </div><!--end of collum2-->
             
         <div class="col-sm-3"></div>
           
            
        </div> <!--Investstory row end-->
         </div><!--end of container content-End of Invest Story para-->
      
    
    <!--dotted line below why InvestoryParagraphs-->
     <br>
     
     
       
          <div class="dotHr dotAboveNoCut longDotUs" style="">
         <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                           <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
       <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                           <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
       <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                           <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                           <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                      <div id="nameAndLogoDots"></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div ></div>
                  <div ></div>
               <div ></div>
                  <div></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
              <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
          <div ></div>
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div ></div>
                  <div></div>
                  <div ></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                    <div></div>
                 
         
               
       
    
              
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
         
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                     <div></div>
                      <div></div>
       <div></div>
                    <div></div>
                     <div></div>
                    <div></div>
                    <div id="knowUsDots1366"></div>
             <div id="knowUsDots1366"></div>
                     <div  id="knowUsDots1366"></div>
         
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
       <div d="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
          <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
         
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
          <div></div>
                  <div id="ColumnsOfKnowUs"></div>
         
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
       <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div d="ColumnsOfKnowUs"></div>
                  <div d="ColumnsOfKnowUs" ></div>
          <div d="ColumnsOfKnowUs" ></div>
                  <div ></div>
         
                  <div></div>
                  </div>
     
     <!-- Get Started End--><!--Line below why InvestoryParagrapy Ends-->
      <div class="container-fluid why-us know text-center">
            
          <div class="container content classSectio2">
                
              <div class="row">
                    
                  <div class="col-sm-3 classSectio21">
                        
                      <h2 class="headdingKnowUsColumn">No cut</h2>
                        
                      <p>We do not take any cut (in other words shortcut) from any fund house, in order to give you unbiased and honest advice.</p>
                    
                  </div><!--No cut Ends-->
             
                  <div class="col-sm-3 classSectio21"><!--no charges-->
                         
                      <h2 class="headdingKnowUsColumn">No charges</h2>
                  
                      <p>We also do not charge you based on the amount you invest; just a small monthly fee for our advisory services.</p>
                      
                  </div><!--no charges ends-->
                  
                    <div class="col-sm-3 classSectio21"><!--only direct-->
                        
                          <h2 class="headdingKnowUsColumn">Only direct</h2>
                        
                  <p>We recommend only direct schemes that give you much higher returns compared to retail options (which pay commissions to advisors)</p>
                        
                    </div><!--only direct Ends-->
                  
                  <div class="col-sm-3 classSectio21"><!--100%safe-->
                          <h2 class="headdingKnowUsColumn">100% safe</h2>
                  <p>Being in the industry for over 15years, we know the importance of privacy and safety of your money and data.</p>
                  </div>
             
        </div>
          </div>  
           
      <div class="dotHr  longDotUs" style="">
           <div></div>
           <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
              <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
              <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
         <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
          <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
         
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
       <div></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
          <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
         
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
       <div></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
          <div></div>
                  <div  id="nameAndLogoDots"></div>
         
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>

                  <div id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
          <div></div>
                  <div  id="nameAndLogoDots"></div>
         
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div  id="nameAndLogoDots"></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div ></div>
                  <div ></div>
          <div></div>
                  <div id="knowUsDots1366" ></div>
                  <div  id="knowUsDots1366"></div>
                  <div id="knowUsDots1366" ></div>
                  <div id="knowUsDots1366"></div>
                  <div></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                    <div></div>
                 
        
       
     
              
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
         
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
       <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
         
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
       <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
          <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
          <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
         
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
       <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
          <div id="ColumnsOfKnowUs"></div>
                  <div id="ColumnsOfKnowUs"></div>
         
                  <div id="ColumnsOfKnowUs"></div>
                  </div>
        
        
          
          
          <!-- Get Started End-->
    </div>
    </div><!--container investoryends-->
<!--</section> section2 ends-->

 <!--<section id="section3"  class="mod-singular-section">-->
          
     <div class="container-fluid know-us text-center mod-singular-section">
    
      <h2 style="padding-top: 20px;padding-bottom:0px;" class="">Who are we</h2>
    
       <div class="dotHr NaLDots " style=""> 
            <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
             
           <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div></div>
                  <div id="nameAndLogoDots"></div>
         
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div></div>
                  <div id="nameAndLogoDots"></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                              <div></div>
                  <div></div>
                 <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366" ></div>
                                    <div></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
          
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
         
         
              <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                  <div></div>
                  <div></div>
          
       
    
              
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
         
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                    <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          
                  <div></div>
                  <div id="knowUsDots1366" id="knowUsDots1366"></div>
         
         
               <div id="knowUsDots1366" id="knowUsDots1366"></div>
                  <div id="knowUsDots1366" id="knowUsDots1366"></div>
                  <div id="knowUsDots1366" id="knowUsDots1366"></div>
                  <div id="knowUsDots1366" id="knowUsDots1366"></div>
      
  
  </div> 
         
 
         <!--line below who we are ends-->
         
         
         
          <br>      
         <div class="WhoWeAre">
         <p class="WhoWeAreP"> Our parent company, International Money Matters Pvt. Ltd. (IMMPL) is a
        financial advisory established in 2003, to help people achieve their goals.
       Eack of our advisors and relationship managers take up the 'Certified
          Financial Planner' programme as recommended by the Financial Planning
    Standards Board, India. We are also a SEBI Registered financial advisory.
            IMMPL manages assets of over Rs.750 Crores and run a risk cover of Rs.300
        Crores while advising 500+ clients from across India and the world including
           <div class="textBtwn"> the US, UK, Middle East and South East Asia.</div> </p>
         </div>
             
             
               <div class="dotHr NaLDots " style=""> <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                   <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
             
                  <div id="nameAndLogoDots"></div>
          <div></div>
                  <div id="nameAndLogoDots"></div>
         
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div ></div>
                  <div ></div>
                  <div id="knowUsDots1366" ></div>
                              <div></div>
                  <div id="nameAndLogoDots"></div>
                  <div></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div></div>
                                    <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          
                  <div></div>
                  <div></div>
         
         
               <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          
       
    
              
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
         
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                    <div></div>
                  <div></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
         
         
              <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
      
  
  </div> 
         
 
     <br>
        </div>
    <!--</section>-->
     
<!--
      <section id="section4"  class="mod-singular-section" >
      
-->
     <div class="container-fluid   text-center mod-singular-section" style="margin-top: 0.5em">
        
         <div class="container-fluid know-us text-center lastKnowUs">
          <h2 style="padding-top: 15px;padding-bottom:0px;" class="">Investory Team</h2>
                
       <div class="dotHr NaLDots" >
         
                    <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
                  

                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
         
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div> </div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                  <div></div>
                              <div  id="nameAndLogoDots"></div>
                  <div ></div>
                  <div ></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                    <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          
                  <div></div>
                  <div></div>
         
         
               <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          
       
    
              
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
         
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                                    <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
              <div id="knowUsDots1366"></div>
            <div id="knowUsDots1366"></div>
             <div id="knowUsDots1366"></div>
                <div id="knowUsDots1366"></div>
          
                 <div id="knowUsDots1366"></div>
              <div id="knowUsDots1366"></div>
         
         
          <div id="knowUsDots1366"></div>
             <div id="knowUsDots1366"></div>
           <div id="knowUsDots1366"></div>
           <div id="knowUsDots1366"></div>
      
  
  </div>
           
              
             
             <!--line above Team-->
        <br>
             <br>
        
          <div class="avatarTestimonial avtarEdit">
                    <img src="images/avatar.png" alt="Person" width="96" height="96" class="avtarSiaze" style="position:absolute;    height: 70px;
                    width: 70px;"> 
            
                        </div>             
                 <h4 class="swethaJain" style="font-weight:900;">Swetha Jain - <i>COO</i></h4>    
        
           
    <div class="InvestTeam" style="" >
         
         <h6 class="InvestTeamP" style="">A BBM graduate and a CFP to boot, Swetha brings her excellent</h6>
         <h6 class="InvestTeamP" style="">management skills to the table and is an integral part of our think tank. She</h6>
         <h6 class="InvestTeamP" style="">spearheads "The Investory"initiative which aims to make financial advice</h6>
             <h6 class="InvestTeamP">more accessible and fun.</h6>
         </div>
           <div class="dotHr NaLDots">
         
 <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
              <div id="nameAndLogoDots1280" ></div>
             
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
         
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
          <div id="nameAndLogoDots"></div>
                  <div id="nameAndLogoDots"></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                              <div></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                  <div ></div>
                                    <div id="knowUsDots1366"></div>
      <div id="knowUsDots1366"></div>  <div></div>
                 <div id="knowUsDots1366"></div>
                <div id="knowUsDots1366"></div>
                <div id="knowUsDots1366"></div>
          
                  <div></div>
                  <div></div>
         
         
               <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          
       
    
              
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
         
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
          <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                              <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
                                    <div></div>
                  <div></div>
               <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
                 <div id="knowUsDots1366"></div>
          
              <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
         
         
            <div id="knowUsDots1366"></div>
               <div id="knowUsDots1366"></div>
                <div id="knowUsDots1366"></div>
                  <div id="knowUsDots1366"></div>
      
  
  </div> <!--line below Team-->
    

            
        </div><!--container-fluid knowus text-centercontainer ends-->
        <div class="knowusFooter">
        <% include partials/footer %>
            </div>
    <!--</section>section4-->



      

        </div>   
</div>

<!--Custom Js links -->
        
  <script src="javascripts/TweenMax.min.js"></script>
<script src="javascripts/TextPlugin.min.js"></script>
         <script src="javascripts/main.js"></script>
    <script src="javascripts/control.js" type="text/javascript"></script>
       
</body>
</html>


