<!DOCTYPE html>
<html lang="en">
<head>

 <% include partials/head %>
	
    <link rel="stylesheet" href="stylesheets/creativemobile.css">
</head>
	
<body>
  <% include partials/headerMobile%>
           	
	<div class="container">
        
        <h2 class="story">My Story</h2>
    <div class="row">
         
				  <div class="col-xs-6">
                      <div class="goal" id="" >
                        <img src="images/goals/Rich/Crorepati.png" mood="Rich" alt="Home view"   >
                          <div id="myProgress">
                        <div id="myBar1">
   
                                </div>
 
                            </div>
                     <em>BUCK UP</em>
                      </div>
                      
                     <div class="goal" id="" > 
                        <img src="images/goals/Rich/Fancy%20Car.png" mood="Rich" alt="Home view">
                       <div id="myProgress">
  <div id="myBar1">
   
  </div>
                    </div>
                         <em>BUCK UP</em>
        </div>
     
        </div>
        <div class="col-xs-6">
                                        
                     <div class="goal" id="" > 
                        <img src="images/goals/Rich/Fancy%20Car.png" mood="Rich" alt="Home view">
                        <div id="myProgress">
                            <div id="myBar1">
   
                            </div>
                         </div>
                         <em>BUCK UP</em>
        </div>
        
                    <div class="goal" id="" >
                        <img src="images/goals/Rich/Double%20the%20money.png" mood="Rich" alt="Home view" >
                        
                       <div id="myProgress">
  <div id="myBar1">
   
  </div>
                        </div>
                        <em>BUCK UP</em>
                    </div>
                 
        </div>
            
        <img style="margin-bottom:2em;" src="images/animHow/MYSCREEN.png" class="img-responsive img-story">
        
        </div>
        
        </div>
    
     <% include partials/footerMobile %> 
    </div>
	
	
	
	
	
	  <!-- Modal -->
        
	
	 
          
<!--Custom Js links -->
       
			 
</body>
</html>
